
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    *ngIf="firstContent"
    [photoCover]="firstContent.photoCover"
    [cardTitle]="firstContent.title"
    [cardDescription]="firstContent.description"
    [Id] = "firstContent.id">
    </app-big-card>
    <div
    *ngFor="let content of contents">
    <app-small-card
    [photoCover]="content.photoCover"
    [cardTitle]="content.title"
    [Id] = "content.id">
    >
    </app-small-card>
    </div>
  </div>
</div>
